@font-face {
    font-family: 'iconfont';  /* Project id 3373829 */
    src: url('//at.alicdn.com/t/font_3373829_3rl7pi7u17z.woff2?t=1652604450459') format('woff2'),
         url('//at.alicdn.com/t/font_3373829_3rl7pi7u17z.woff?t=1652604450459') format('woff'),
         url('//at.alicdn.com/t/font_3373829_3rl7pi7u17z.ttf?t=1652604450459') format('truetype');
  }
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}